.source-type-none .hide-if-none {
	display: none !important;
}
.source-type-none .show-if-github {
	display: none !important;
}
.source-type-none .show-if-wordpress {
	display: none !important;
}
.source-type-none .show-if-custom {
	display: none !important;
}

.source-type-github .hide-if-github {
	display: none !important;
}
.source-type-github .show-if-none {
	display: none !important;
}
.source-type-github .show-if-wordpress {
	display: none !important;
}
.source-type-github .show-if-custom {
	display: none !important;
}

.source-type-wordpress .hide-if-wordpress {
	display: none !important;
}
.source-type-wordpress .show-if-none {
	display: none !important;
}
.source-type-wordpress .show-if-github {
	display: none !important;
}
.source-type-wordpress .show-if-custom {
	display: none !important;
}

.source-type-custom .hide-if-custom {
	display: none !important;
}
.source-type-custom .show-if-none {
	display: none !important;
}
.source-type-custom .show-if-github {
	display: none !important;
}
.source-type-custom .show-if-wordpress {
	display: none !important;
}
